.planner-header{
margin-bottom:25px;
}

.planner-header h1{
font-size:32px;
margin-bottom:5px;
}

.planner-header p{
color:#64748B;
}

.planner-stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:25px;
}

.stat-box{
background:white;
padding:25px;
border-radius:20px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.05);
transition:.3s;
}

.stat-box:hover{
transform:translateY(-5px);
}

.stat-box h2{
font-size:32px;
color:#2563EB;
}

#searchTask{
width:100%;
padding:14px;
border:1px solid #CBD5E1;
border-radius:14px;
outline:none;
}

.task-card{
padding:22px;
border-radius:20px;
margin-bottom:20px;
box-shadow:0 5px 20px rgba(0,0,0,.05);
transition:.3s;
}

.task-card:hover{
transform:translateY(-5px);
box-shadow:0 15px 30px rgba(0,0,0,.10);
}

.task-header{
display:flex;
align-items:center;
gap:12px;
margin-bottom:15px;
}

.course-icon{
font-size:28px;
}

.course-name{
font-weight:600;
font-size:14px;
opacity:.8;
}

.task-title{
font-size:22px;
font-weight:700;
margin-bottom:12px;
}

.task-deadline{
margin-bottom:15px;
color:#475569;
}

.task-footer{
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
gap:10px;
}

.task-actions{
display:flex;
align-items:center;
gap:10px;
}

.priority,
.status-badge{
padding:8px 12px;
border-radius:999px;
font-size:12px;
font-weight:600;
}

.Low{
background:#DCFCE7;
color:#166534;
}

.Medium{
background:#FEF3C7;
color:#92400E;
}

.High{
background:#FEE2E2;
color:#991B1B;
}

.Pending{
background:#FEF3C7;
color:#92400E;
}

.In-Progress{
background:#DBEAFE;
color:#1D4ED8;
}

.Completed{
background:#DCFCE7;
color:#166534;
}

.task-actions button{
background:#EF4444;
border:none;
color:white;
padding:10px 14px;
border-radius:10px;
cursor:pointer;
}

.task-actions select{
width:auto;
padding:10px;
}

.mini-progress{
height:8px;
background:rgba(255,255,255,.7);
border-radius:20px;
overflow:hidden;
margin-bottom:15px;
}

.mini-progress-fill{
height:100%;
transition:.4s;
}

.empty-state{
background:white;
padding:60px;
border-radius:20px;
text-align:center;
color:#64748B;
}

.course-pcd{
background:linear-gradient(135deg,#DBEAFE,#BFDBFE);
border-left:6px solid #2563EB;
}

.course-ds{
background:linear-gradient(135deg,#DCFCE7,#BBF7D0);
border-left:6px solid #22C55E;
}

.course-uiux{
background:linear-gradient(135deg,#FCE7F3,#FBCFE8);
border-left:6px solid #EC4899;
}

.course-se{
background:linear-gradient(135deg,#FEF3C7,#FDE68A);
border-left:6px solid #F59E0B;
}

.course-mobile{
background:linear-gradient(135deg,#EDE9FE,#DDD6FE);
border-left:6px solid #8B5CF6;
}

@media(max-width:768px){

.planner-stats{
grid-template-columns:1fr 1fr;
}

.task-footer{
flex-direction:column;
align-items:flex-start;
}

}